---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1570755273'
      Etag:
      - W/"5b2079bc098044df44404e021fdcaae9"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"yabget","id":10298625,"node_id":"MDQ6VXNlcjEwMjk4NjI1","avatar_url":"https://avatars1.githubusercontent.com/u/10298625?v=4","gravatar_id":"","url":"https://api.github.com/users/yabget","html_url":"https://github.com/yabget","followers_url":"https://api.github.com/users/yabget/followers","following_url":"https://api.github.com/users/yabget/following{/other_user}","gists_url":"https://api.github.com/users/yabget/gists{/gist_id}","starred_url":"https://api.github.com/users/yabget/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yabget/subscriptions","organizations_url":"https://api.github.com/users/yabget/orgs","repos_url":"https://api.github.com/users/yabget/repos","events_url":"https://api.github.com/users/yabget/events{/privacy}","received_events_url":"https://api.github.com/users/yabget/received_events","type":"User","site_admin":false},{"login":"jkaffrey","id":18563238,"node_id":"MDQ6VXNlcjE4NTYzMjM4","avatar_url":"https://avatars1.githubusercontent.com/u/18563238?v=4","gravatar_id":"","url":"https://api.github.com/users/jkaffrey","html_url":"https://github.com/jkaffrey","followers_url":"https://api.github.com/users/jkaffrey/followers","following_url":"https://api.github.com/users/jkaffrey/following{/other_user}","gists_url":"https://api.github.com/users/jkaffrey/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
