---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1570687108'
      Etag:
      - W/"97c5a9f719b2004eddbee34bcaaaeee3"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"wolfeJob","id":33855435,"node_id":"MDQ6VXNlcjMzODU1NDM1","avatar_url":"https://avatars3.githubusercontent.com/u/33855435?v=4","gravatar_id":"","url":"https://api.github.com/users/wolfeJob","html_url":"https://github.com/wolfeJob","followers_url":"https://api.github.com/users/wolfeJob/followers","following_url":"https://api.github.com/users/wolfeJob/following{/other_user}","gists_url":"https://api.github.com/users/wolfeJob/gists{/gist_id}","starred_url":"https://api.github.com/users/wolfeJob/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wolfeJob/subscriptions","organizations_url":"https://api.github.com/users/wolfeJob/orgs","repos_url":"https://api.github.com/users/wolfeJob/repos","events_url":"https://api.github.com/users/wolfeJob/events{/privacy}","received_events_url":"https://api.github.com/users/wolfeJob/received_events","type":"User","site_admin":false},{"login":"leiyakenney","id":45922590,"node_id":"MDQ6VXNlcjQ1OTIyNTkw","avatar_url":"https://avatars3.githubusercontent.com/u/45922590?v=4","gravatar_id":"","url":"https://api.github.com/users/leiyakenney","html_url":"https://github.com/leiyakenney","followers_url":"https://api.github.com/users/leiyakenney/followers","following_url":"https://api.github.com/users/leiyakenney/following{/other_user}","gists_url":"https://api.github.com/users/leiyakenney/gists{/gist_id}","starred_url":"https:/[...]
