---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1571185200'
      Etag:
      - W/"54ca91f517ba1dff0d6b8376ec27400b"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"alect47","id":23268508,"node_id":"MDQ6VXNlcjIzMjY4NTA4","avatar_url":"https://avatars2.githubusercontent.com/u/23268508?v=4","gravatar_id":"","url":"https://api.github.com/users/alect47","html_url":"https://github.com/alect47","followers_url":"https://api.github.com/users/alect47/followers","following_url":"https://api.github.com/users/alect47/following{/other_user}","gists_url":"https://api.github.com/users/alect47/gists{/gist_id}","starred_url":"https://api.github.com/users/alect47/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alect47/subscriptions","organizations_url":"https://api.github.com/users/alect47/orgs","repos_url":"https://api.github.com/users/alect47/repos","events_url":"https://api.github.com/users/alect47/events{/privacy}","received_events_url":"https://api.github.com/users/alect47/received_events","type":"User","site_admin":false},{"login":"wolfeJob","id":33855435,"node_id":"MDQ6VXNlcjMzODU1NDM1","avatar_url":"https://avatars3.githubusercontent.com/u/33855435?v=4","gravatar_id":"","url":"https://api.github.com/users/wolfeJob","html_url":"https://github.com/wolfeJob","followers_url":"https://api.github.com/users/wolfeJob/followers","following_url":"https://api.github.com/users/wolfeJob/following{/other_user}","gists_url":"https://api.github.com/users/wolfeJob/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
