---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1570755273'
      Etag:
      - W/"e92ea5fc3c4f49e3e3e73e244294bc70"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":202557061,"node_id":"MDEwOlJlcG9zaXRvcnkyMDI1NTcwNjE=","name":"activerecord-obstacle-course","full_name":"wolfeJob/activerecord-obstacle-course","private":false,"owner":{"login":"wolfeJob","id":33855435,"node_id":"MDQ6VXNlcjMzODU1NDM1","avatar_url":"https://avatars3.githubusercontent.com/u/33855435?v=4","gravatar_id":"","url":"https://api.github.com/users/wolfeJob","html_url":"https://github.com/wolfeJob","followers_url":"https://api.github.com/users/wolfeJob/followers","following_url":"https://api.github.com/users/wolfeJob/following{/other_user}","gists_url":"https://api.github.com/users/wolfeJob/gists{/gist_id}","starred_url":"https://api.github.com/users/wolfeJob/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wolfeJob/subscriptions","organizations_url":"https://api.github.com/users/wolfeJob/orgs","repos_url":"https://api.github.com/users/wolfeJob/repos","events_url":"https://api.github.com/users/wolfeJob/events{/privacy}","received_events_url":"https://api.github.com/users/wolfeJob/received_events","type":"User","site_admin":false},"html_url":"https://github.com/wolfeJob/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/wolfeJob/activerecord-obstacle-course/deployments","created_at":"2019-08-15T14:35:10Z","updated_at":"2019-08-15T14:35:13Z","pushed_at":"2019-06-16T22:06:45Z","git_url":"git://github.com/wolfeJob/activerecord-obstacle-course.git","ssh_url":"git@github.com:wolfeJob/activerecord-obstacle-course.git","clone_url":"https://github.com/wolfeJob/activerecord-obstacle-course.git","svn_url":"https://github.com/wolfeJob/activerecord-obstacle-course","homepage":null,"size":53,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":204020893,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQwMjA4OTM=","name":"apollo_14","full_name":"wolfeJob/apollo_14","private":false,"owner":{"login":"wolfeJob","id":33855435,"node_id":"MDQ6VXNlcjMzODU1NDM1","avatar_url":"https://avatars3.githubusercontent.com/u/33855435?v=4","gravatar_id":"","url":"https://api.github.com/users/wolfeJob","html_url":"https://github.com/wolfeJob","followers_url":"https://api.github.com/users/wolfeJob/followers","following_url":"https://api.github.com/users/wolf[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1570755273'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1570755273'
      Etag:
      - W[...]
