---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/evettetelyas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1570831553'
      Etag:
      - W/"d549f1bb00bd1d1dc0167744b05da651"
      Last-Modified:
      - Wed, 09 Oct 2019 17:30:02 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"evettetelyas","id":50186721,"node_id":"MDQ6VXNlcjUwMTg2NzIx","avatar_url":"https://avatars0.githubusercontent.com/u/50186721?v=4","gravatar_id":"","url":"https://api.github.com/users/evettetelyas","html_url":"https://github.com/evettetelyas","followers_url":"https://api.github.com/users/evettetelyas/followers","following_url":"https://api.github.com/users/evettetelyas/following{/other_user}","gists_url":"https://api.github.com/users/evettetelyas/gists{/gist_id}","starred_url":"https://api.github.com/users/evettetelyas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/evettetelyas/subscriptions","organizations_url":"https://api.github.com/users/evettetelyas/orgs","repos_url":"https://api.github.com/users/evettetelyas/repos","events_url":"https://api.github.com/users/evettetelyas/events{/privacy}","received_events_url":"https://api.github.com/users/evettetelyas/received_events","type":"User","site_admin":false,"name":"evette","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":33,"public_gists":6,"followers":5,"following":5,"created_at":"2019-05-01T23:35:47Z","updated_at":"2019-10-09T17:30:02Z"}'
  recorded_at: Fri, 11 Oct 2019 21:05:51 GMT
recorded_with: VCR 4.0.0
