---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/evettetelyas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1571281502'
      Etag:
      - W/"01f44b0b93b074e2b947d0cccd5f5d19"
      Last-Modified:
      - Tue, 15 Oct 2019 23:05:30 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"evettetelyas","id":50186721,"node_id":"MDQ6VXNlcjUwMTg2NzIx","avatar_url":"https://avatars0.githubusercontent.com/u/50186721?v=4","gravatar_id":"","url":"https://api.github.com/users/evettetelyas","html_url":"https://github.com/evettetelyas","followers_url":"https://api.github.com/users/evettetelyas/followers","following_url":"https://api.github.com/users/evettetelyas/following{/other_user}","gists_url":"https://api.github.com/users/evettetelyas/gists{/gist_id}","starred_url":"https://api.github.com/users/evettetelyas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/evettetelyas/subscriptions","organizations_url":"https://api.github.com/users/evettetelyas/orgs","repos_url":"https://api.github.com/users/evettetelyas/repos","events_url":"https://api.github.com/users/evettetelyas/events{/privacy}","received_events_url":"https://api.github.com/users/evettetelyas/received_events","type":"User","site_admin":false,"name":"evette","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":"etelyas@gmail.com","public_repos":34,"public_gists":6,"followers":6,"following":5,"created_at":"2019-05-01T23:35:47Z","updated_at":"2019-10-15T23:05:30Z"}'
  recorded_at: Thu, 17 Oct 2019 02:05:10 GMT
recorded_with: VCR 4.0.0
