---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1571084509'
      Etag:
      - W/"53e5e2e7e2bf77f80c468c5c5e7ab694"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":204020872,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQwMjA4NzI=","name":"apollo_14","full_name":"evettetelyas/apollo_14","private":false,"owner":{"login":"evettetelyas","id":50186721,"node_id":"MDQ6VXNlcjUwMTg2NzIx","avatar_url":"https://avatars0.githubusercontent.com/u/50186721?v=4","gravatar_id":"","url":"https://api.github.com/users/evettetelyas","html_url":"https://github.com/evettetelyas","followers_url":"https://api.github.com/users/evettetelyas/followers","following_url":"https://api.github.com/users/evettetelyas/following{/other_user}","gists_url":"https://api.github.com/users/evettetelyas/gists{/gist_id}","starred_url":"https://api.github.com/users/evettetelyas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/evettetelyas/subscriptions","organizations_url":"https://api.github.com/users/evettetelyas/orgs","repos_url":"https://api.github.com/users/evettetelyas/repos","events_url":"https://api.github.com/users/evettetelyas/events{/privacy}","received_events_url":"https://api.github.com/users/evettetelyas/received_events","type":"User","site_admin":false},"html_url":"https://github.com/evettetelyas/apollo_14","description":null,"fork":true,"url":"https://api.github.com/repos/evettetelyas/apollo_14","forks_url":"https://api.github.com/repos/evettetelyas/apollo_14/forks","keys_url":"https://api.github.com/repos/evettetelyas/apollo_14/keys{/key_id}","collaborators_url":"https://api.github.com/repos/evettetelyas/apollo_14/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/evettetelyas/apollo_14/teams","hooks_url":"https://api.github.com/repos/evettetelyas/apollo_14/hooks","issue_events_url":"https://api.github.com/repos/evettetelyas/apollo_14/issues/events{/number}","events_url":"https://api.github.com/repos/evettetelyas/apollo_14/events","assignees_url":"https://api.github.com/repos/evettetelyas/apollo_14/assignees{/user}","branches_url":"https://api.github.com/repos/evettetelyas/apollo_14/branches{/branch}","tags_url":"https://api.github.com/repos/evettetelyas/apollo_14/tags","blobs_url":"https://api.github.com/repos/evettetelyas/apollo_14/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/evettetelyas/apollo_14/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/evettetelyas/apollo_14/git/refs{/sha}","trees_url":"https://api.github.com/repos/evettetelyas/apollo_14/git/trees{/sha}","statuses_url":"https://api.github.com/repos/evettetelyas/apollo_14/statuses/{sha}","languages_url":"https://api.github.com/repos/evettetelyas/apollo_14/languages","stargazers_url":"https://api.github.com/repos/evettetelyas/apollo_14/stargazers","contributors_url":"https://api.github.com/repos/evettetelyas/apollo_14/contributors","subscribers_url":"https://api.github.com/repos/evettetelyas/apollo_14/subscribers","subscription_url":"https://api.github.com/repos/evettetelyas/apollo_14/subscription","commits_url":"https://api.github.com/repos/evettetelyas/apollo_14/commits{/sha}","git_commits_url":"https://api.github.com/repos/evettetelyas/apollo_14/git/commits{/sha}","comments_url":"https://api.github.com/repos/evettetelyas/apollo_14/comments{/number}","issue_comment_url":"https://api.github.com/repos/evettetelyas/apollo_14/issues/comments{/number}","contents_url":"https://api.github.com/repos/evettetelyas/apollo_14/contents/{+path}","compare_url":"https://api.github.com/repos/evettetelyas/apollo_14/compare/{base}...{head}","merges_url":"https://api.github.com/repos/evettetelyas/apollo_14/merges","archive_url":"https://api.github.com/repos/evettetelyas/apollo_14/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/evettetelyas/apollo_14/downloads","issues_url":"https://api.github.com/repos/evettetelyas/apollo_14/issues{/number}","pulls_url":"https://api.github.com/repos/evettetelyas/apollo_14/pulls{/number}","milestones_url":"https://api.github.com/repos/evettetelyas/apollo_14/milestones{/number}","notifications_url":"https://api.github.com/repos/evettetelyas/apollo_14/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/evettetelyas/apollo_14/labels{/name}","releases_url":"https://api.github.com/repos/evettetelyas/apollo_14/releases{/id}","deployments_url":"https://api.github.com/repos/evettetelyas/apollo_14/deployments","created_at":"2019-08-23T15:04:46Z","updated_at":"2019-08-23T16:26:06Z","pushed_at":"2019-08-23T16:26:04Z","git_url":"git://github.com/evettetelyas/apollo_14.git","ssh_url":"git@github.com:evettetelyas/apollo_14.git","clone_url":"https://github.com/evettetelyas/apollo_14.git","svn_url":"https://github.com/evettetelyas/apollo_14","homepage":null,"size":38,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":205977679,"node_id":"MDEwOlJlcG9zaXRvcnkyMDU5Nzc2Nzk=","name":"B2_mid_mod_1906","full_name":"evettetelyas/B2_mid_mod_1906","private":false,"owner":{"login":"evettetelyas","id":50186721,"node_id":"MDQ6VXNlcjUwMTg2NzIx","avatar_url":"https://avatars0.githubusercontent.com/u/50186721?v=4","gravatar_id":"","url":"https://api.github.com/users/evettetelyas","html_url":"https://github.com/evettetelyas","followers_url":"https://api.github.com/users/evettetelyas/followers","following_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1571084509'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1571085128'
      Etag:
      - W[...]
[...]
